@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-image: url(../01.png);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container,
.right-container {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-container>h1,
.left-container>h2,
.right-container>h1,
.right-container>h2 {
  color: #77ffc0;
}

.card-container-left,
.card-container-right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

button {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

#anotacoesContainer {
  margin-top: 20px;
}

.anotacao {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.anotacao p {
  margin: 0;
}

#anotacaoDoDia {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: vertical;
           
}

.container-diario {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.card-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;

}

h1, h2, title{
  color: #00ff88; 
}

.container {
  display: flex;
}

.editar, .apagar {
  width: 30%;
  padding: 8px 0px;
  margin: 25px;
  
}

.voltarParaPaginaPrincipal{
  width: 30%;
  padding: 8px 0px;
  margin: 25px;
}